* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  body {
    background-color: #000000; 
    color: #e0e0e0; 
  }
  
  img {
    width: 100%;
    height: 30vh;
    object-fit: cover;
  }
  
  .options-container {
    margin: 2em 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
    text-align: center;
  }
  
  .option {
    background-color: #333333; 
    border: none;
    cursor: pointer;
    padding: 0.8em 1em;
    border-radius: 0.5em;
    text-transform: capitalize;
    transition: background-color 0.3s, color 0.3s;
    color: #e0e0e0; 
    font-family: "Acme", sans-serif;
  }
  
  .option:hover {
    background-color: #f39c12; 
    color: #000000; 
  }
  
  .container {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1em;
  }
  
  .news-card {
    display: grid;
    position: relative;
    grid-template-rows: auto 1fr;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    margin: 1em 0;
    border-radius: 10px;
    background-color: #1e1e1e;
    
  }
  
  .news-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.6);
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  
  .news-card img {
    border-radius: 10px 10px 0 0;
  }
  
  .news-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em;
    font-size: 15px;
  }
  
  .news-title {
    font-weight: 600;
    color: #f39c12; 
  }
  
  .news-description {
    color: #b0b0b0; 
    text-align: justify;
    margin: 0.8em 0 1em 0;
  }
  
  .view-button {
    text-decoration: none;
    background-color: #f39c12; 
    color: #000000; 
    width: 7em;
    text-align: center;
    padding: 0.3em 0.2em;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-family: "Acme", sans-serif;
  }
  
  .view-button:hover {
    background-color: #e67e22; 
  }
  
  
  .navbar {
    background-color: #000000; 
    padding: 0.8em 1.5em;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  }
  
  .navbar-brand {
    font-weight: bold;
    font-size: 1.75em;
    color: #f39c12; 
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: "Acme", sans-serif;
  
  }
  
  .navbar-brand:hover {
    color: #e67e22; 
  }
  
  .navbar-nav .nav-link {
    color: #000000 !important; 
    font-weight: 500;
    margin-right: 1em;
    transition: color 0.3s, border-bottom 0.3s;
    font-family: "Acme", sans-serif;
  
  }
  
  .navbar-nav .nav-link.active,
  .navbar-nav .nav-link:hover {
    color: #f39c12 !important; 
    border-bottom: 2px solid #f39c12; 
  }
  
  .navbar-toggler {
    border: none;
  }
  
  .navbar-toggler-icon {
    background-color: #f39c12; 
  }
  
  /* Responsive Design */
  
  @media (max-width: 768px) {
    .navbar-nav {
      text-align: center;
    }
  
    .navbar-nav .nav-link {
      margin-right: 0;
      padding: 0.5em 0;
    }
  
    .container {
      grid-template-columns: 1fr;
    }
  }
  
  